
//按钮
.button {
	-fx-text-fill: white;
	-fx-background-radius: 25;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#l {
	-fx-font-family: "华文行楷";
	-fx-font-size: 100px;
	-fx-text-fill: pink;
}

#this {
	//-fx-background-image: url("/res/image/background4.jpg");
	-fx-background-image: url("/res/image/2.jpg");
}

